main {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
  width: 100vw;

  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 72rem;
    margin-bottom: 1.5rem;

    .btn {
      display: flex;
      text-decoration: none;
      color: #000;
      justify-content: center;
      align-items: center;
      padding: 1.5rem 2rem;
      background: #eaecf0;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.625rem;
      border-radius: 0.5rem;
      width: 90%;
      &:hover {
        background: #d0d5dd;
      }
    }
  }
  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.625rem;
    width: 90vw;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 1200px) {
  main {
    margin-bottom: 2rem;
    .buttons-container {
      width: 80%;
    }
    .link-container {
      width: 343px;
      .btn {
        font-size: 0.875rem;
      }
    }
  }
  .socials {
    width: 70%;
  }
}
