.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 20px;
  margin-bottom: 56px;

  .shareIcon {
    align-self: flex-end;
    margin-right: 352px;
  }

  #profile_img {
    width: 88px;
    height: 88px;
    border-radius: 275px;
    object-fit: cover;
  }
  .username {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #101828;

    #slack {
      display: none;
    }
  }
}
