.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  .mobileShare {
    display: none;
  }

  .shareIcon {
    align-self: flex-end;
    margin-right: 22rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  #profile_img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 17.187rem;
    object-fit: cover;
  }
  .username {
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    color: #101828;

    #slack {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .profile-section {
    margin-bottom: 2rem;
    .mobileShare {
      align-self: flex-end;
      margin-right: 2rem;
      display: block;
    }

    .shareIcon {
      display: none;
    }
  }
}
