footer {
  display: flex;
  align-items: center;
  padding: 3rem 0rem;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 0rem;
    width: 74rem;
    gap: 2rem;
    height: 4rem;
    border-top: 1px solid #eaecf0;
  }
  p {
    color: #667085;
  }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  footer {
    .container {
      font-size: x-small;
      width: 90%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 0rem;
      gap: 0rem;
    }
  }
}
